* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

main .contenedor {
  max-width: 550px;
  width: 100%;
  box-shadow: 0 0 10px #ccc;
  padding: 20px 30px;
  border-radius: 10px;
}

main div h1 {
  text-align: center;
}

main div input {
  width: 100%;
  padding: 6px 10px;
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid #bbb;
  margin: 10px 0 26px 0;
  outline: none;
}

main div button {
  width: 100%;
  padding: 11px 10px;
  font-size: 17px;
  cursor: pointer;
  background-color: #09f;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.contenedor-botones {
  display: flex;
  gap: 10px;
}

.error {
  color: rgb(223, 19, 19);
}

.es-par {
  color: rgb(18, 211, 18);
}

.es-impar {
  color: rgb(255, 153, 0);
}
