<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <title>Es par o impar</title>
  </head>
  <body>
    <main>
      <div class="contenedor">
        <h1>Comprobar si un numero es par o impar</h1>
        <input type="number" id="numero" min="0" required/>
        <div class="contenedor-botones">
          <button id="procesar">Comprobar</button>
          <button id="obtener-numeros">Ver numeros pares</button>
        </div>
        <p id="mensaje"></p>

        <ul id="lista-numeros">

        </ul>
      </div>
    </main>

    <script src="{{url_for('static', filename='script.js')}}"></script>
  </body>
</html>
